.TrackerApp{
  width: 300px;
  height: 620px;
 padding: 0 auto;
 margin: 0 auto;
 text-align: center;
 background-color: gainsboro;
 
 
}

.incexpcontainer{
   margin: 5%;
   display: flex;
   justify-content: space-around;
   background-color: #ffffff;
} 

.inputform input{
    width: 90%;
    margin: 10px 0 ;
    padding: 5px 0;
}
 .history{
   margin: 10px;
   padding: 2px;
 }

.history li{
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  background-color: #ffffff;
}