@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  box-sizing:border-box;
}


body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "lato" , "sans-serif";
}

.acsumary{
    display: flex;
    justify-content: space-around;
    background-color: #fff ;
}
.acsumary .inc{
  color: green;
}
.acsumary .exp{
  color: rebeccapurple;
}
.histlist{
  margin:0;
  padding: 0;
}

.histlist li{

  display: flex;
  justify-content: space-between;
  background-color: #fff;

}